.user_login{
    height : 100vh;
    background-image: url('../../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: 100% 55%;
}

.user_login_card_container{
    position: relative;
    top:25%;
}

.user_login_card{
    background-color: #fff;
    display:inline-block;
    width: 35%;
    border-radius: 8px;
}

.user_login_signin_logo{
  width:25%;
  position: relative;
  right:31%
}

.user_login_signin_text{
    font-weight:bold;
    font-size: 23px;
    line-height: 1.7;
}

.user_login_signin_acntnumber,.user_login_signin_lastname{
    width:70%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #9a9a9a
}

.user_login_signin_acntnumber::placeholder,.user_login_signin_lastname::placeholder{
    color: #9a9a9a;
    font-size: 13px;
}

.user_login_login_button {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    background-color: rgb(99, 233, 247);
    border-radius: 5.3px;
    display: inline-block;
    padding: 9px 22px;
    cursor: pointer;
    margin-top: 30px;
}

.user_login_text_or{
    color: #9a9a9a;
    font-size: 13px;
}

.user_login_google_button{
    color: #727272;
    font-size: 12px;
    border: 0.88247px solid #979797;
    border-radius: 8px;
    display: inline-block;
    padding: 1.5% 20% 1.2% 20%;
    cursor: pointer;
}

.user_login_account_button{
    color: #000000;
    font-size: 12px;
    border: 0.88247px solid #0005a0;
    border-radius: 8px;
    display: inline-block;
    padding: 1.5% 20% 1.2% 20%;
    cursor: pointer;
}

.user_login_account_button{
    color: #ffffff;
    font-size: 12px;
    border: 0.88247px solid #0875e9;
    border-radius: 8px;
    display: inline-block;
    padding: 1.5% 24.5% 1.2% 24.5%;
    cursor: pointer;
    background-color: #0875e9;
}

.user_login_account_button:hover{
    color: #0875e9;
    font-size: 12px;
    border: 0.88247px solid #0875e9;
    border-radius: 8px;
    display: inline-block;
    padding: 1.5% 24.5% 1.2% 24.5%;
    cursor: pointer;
    background-color: #ffffff;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 200ms linear;
}


.user_login_google_button:hover{
    color: #000000;
    font-size: 12px;
    border: 0.88247px solid #c0c0c0;
    border-radius: 8px;
    display: inline-block;
    padding: 1.5% 20% 1.2% 20%;
    cursor: pointer;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 200ms linear;
}