@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* scroll */

/* .horizontalwrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .horizontalouter-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);;
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  } 

  .slide {
    width: 100vw;
    height: 100vh;
  } */
  
  /* ::-webkit-scrollbar {
    display:none;
  } */


/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* common font style  */

* {
    /* font-family: 'Inter', sans-serif;
letter-spacing: 0.2px; */
font-family: "Quicksand", sans-serif;
	letter-spacing: 0.2px;
}

.bg-clr{
background-color:'#F3EAF9'
}

body{
	margin: 0
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* common wrapper  */

.main-wrapper {
	height: 100vh;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */


/* validation class */

.pass   {
    border-color: #0ae92f!important;
    border-width: 0 0 2px 0!important;
}


.pass:focus{
    border-color: #0ae92f!important;
    border-width: 0 0 2px 0!important;
}



.warn
   {
    border-color: #ed9e9e!important;
    border-width: 0 0 2px 0!important;
   }


.warn:focus{
    border-color: #ed9e9e!important;
    border-width: 0 0 2px 0!important;
}

.admin_logo_placer{
  width: calc(13vw - 4.5rem);
  background-color: #fff;
  padding-top: .6rem;
  height: 3rem;
  padding-bottom: .6rem;
}

input:focus{
  outline: none;
}


.alert {
    position: relative;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.801); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }



.container_flex {
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.item {
    flex-grow: 20;
    flex-shrink: 1;
    flex-basis: auto;
    transition: all 5s;
}

.collapse {
    flex-grow: 0.001;
}