@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
/* scroll */

/* .horizontalwrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .horizontalouter-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);;
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
  } 

  .slide {
    width: 100vw;
    height: 100vh;
  } */
  .centered {
    position: fixed;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
}


::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* common font style  */

.card-width-height1 {
  position: relative;
  width: 1000px;
  height: 550px;
  background-color: #fff;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-top: 100px;
  overflow-y: scroll;
}

.card-width-height2 {
  width: auto;
  height: 1000px;
  margin: 10px;
  display: "flex";
  justify-content: "flex-start";
  flex-wrap: "wrap";
}

.box1 {
  height: "10px";
  
  padding: "1rem";
  width: 1.5%;
  margin: "1px";
}

* {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.3px;
  /* font-family: "Quicksand", sans-serif;
	letter-spacing: 0.2px; */
}

.bg-clr {
  background-color: "#F3EAF9";
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #0d3e4b !important;
  border: #0b3742 !important;
  box-shadow: none !important;
}
.btn-primary:hover {
  background-color: #195363 !important;
  border: #195363 !important;
  box-shadow: none !important;
}
.bg-primary {
  background-color: #3aaece !important;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #27b61a !important;
  border: #27b61a !important;
  box-shadow: none !important;
}

.btn-success:hover {
  background-color: #44e835 !important;
  border: #27b61a !important;
  box-shadow: none !important;
}
body {
  margin: 0;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* common wrapper  */

.main-wrapper {
  height: 100vh;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* validation class */

.pass {
  border-color: #0ae92f !important;
  border-width: 0 0 2px 0 !important;
}

.pass:focus {
  border-color: #0ae92f !important;
  border-width: 0 0 2px 0 !important;
}

.warn {
  border-color: #ed9e9e !important;
  border-width: 0 0 2px 0 !important;
}

.warn:focus {
  border-color: #ed9e9e !important;
  border-width: 0 0 2px 0 !important;
}

.admin_logo_placer {
  width: calc(13vw - 4.5rem);
  background-color: #fff;
  padding-top: 0.6rem;
  height: 3rem;
  padding-bottom: 0.6rem;
  border-radius: 0px 14px 0px 14px;
}

input:focus {
  outline: none;
}

.alert {
  position: relative;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.801
  ); /* Black background with opacity */
  z-index: 1000000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay_table {
  position: fixed; /* Sit on top of the page content */
  width: 90%; /* Full width (cover the whole page) */
  height: 80%; /* Full height (cover the whole page) */
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Black background with opacity */
  z-index: 1000000; /* Specify a stack order in case you're using a different order for other elements */
  left: 5%;
  border-radius: 4px;
}

.overlay_loader {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  margin-left: 70px;
  margin-top: 85px;
}

.overlay_userdashboard {
  position: fixed; /* Sit on top of the page content */
  /* Hidden by default */
  width: 95%; /* Full width (cover the whole page) */
  height: 95%; /* Full height (cover the whole page) */
  top: 2.5%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Black background with opacity */
  z-index: 1000000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  left: 2.5%;
  border-radius: 16px;
}

.overlay1 {
  position: fixed; /* Sit on top of the page content */
  /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0%;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.829
  ); /* Black background with opacity */
  z-index: 2000000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay_carInfo {
    position: fixed; /* Sit on top of the page content */
    /* Hidden by default */
    width: 70%; /* Full width (cover the whole page) */
    height: 70%; /* Full height (cover the whole page) */
    top: 15%;
    left: 15%;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255); /* Black background with opacity */
    z-index: 1000000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 16px;
  }


  @media only screen and (max-width: 600px) {
    .overlay_carInfo {
        position: fixed; /* Sit on top of the page content */
        /* Hidden by default */
        width: 99%; /* Full width (cover the whole page) */
        height:100%; /* Full height (cover the whole page) */
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.973); /* Black background with opacity */
        z-index: 2000000; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */ overflow-y: scroll;
      }
  }


.container_flex {
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.item {
  flex-grow: 20;
  flex-shrink: 1;
  flex-basis: auto;
  transition: all 5s;
}

.collapse {
  flex-grow: 0.001;
}

.rec.rec-arrow:disabled {
  display: none;
}

.rec.rec-arrow.rec-arrow-right,
.rec.rec-arrow.rec-arrow-left {
  border-radius: 10%;
  background-color: rgb(22, 118, 163);
  color: rgb(22, 118, 163);
  height: 0px;
  width: 0px;
  min-width: 25px;
  line-height: 5px;
}

.rec.rec-arrow.rec-arrow-right:hover,
.rec.rec-arrow.rec-arrow-left:hover {
  border-radius: 50%;
  background-color: rgb(22, 118, 163);
  color: rgb(22, 118, 163);
}

.rec.rec-arrow.rec-arrow-right:focus,
.rec.rec-arrow.rec-arrow-left:focus {
  border-radius: 50%;
  background-color: #fff;
  color: rgb(22, 118, 163);
}
