.pagination_container{
    padding-top: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: -10px;
}

.pagination_number{
    color: #000;
    background-color: rgba(157, 181, 233, 0.603);
    border: solid 1px#d3d3d3;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 1%;
    font-size: 12px;
    cursor: pointer;

}

.pagination_number_active{
    color: #fff;
    background-color: rgb(47, 113, 212);
    border-radius:4px;
    padding: 4px 8px;
    margin: 1%;
    font-size: 12px;
    cursor: pointer;

}