.user_dashboard_container {
  height: 96vh;
  padding-left: 3%;
  padding-right: 2%;
}

.user_dashboard_munidex_logo {
  width: 10%;
}

.user_dashboard_profile_icon {
  width: 2.8%;
  margin-left: 80%;
  cursor: pointer;
}

.user_dashboard_username {
  margin: 6% 0 3% 0;
  font-weight: 600;
  font-size: 28px;
  text-transform: capitalize;
}
.user_dashboard_text_booking_details {
  color: #FFFFFF;
  background: rgb(72,180,227);
  background: linear-gradient(351deg, rgba(72,180,227,1) 0%, rgba(61,163,208,1) 50%, rgba(31,138,185,1) 81%);  
  text-align: center;
  padding: 1% 0;
  font-weight: 600;
  font-size: 16px;
}

.user_dashboard_down_arrow{
  width: 0;
  height: 0;
  border-top: 12px solid #0CB0E2;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  margin:auto;
  margin-bottom: 2%;
}

.user_dashboard_booking_details_card {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(169, 169, 169, 0.15);
  max-height: 55vh;
  overflow: hidden;
  overflow-y: scroll;
}

.user_dashboard_booking_details_card::-webkit-scrollbar , .user_dashboard_popup_table_container::-webkit-scrollbar{
    width: 2px;
}

.user_dashboard_booking_details_card::-webkit-scrollbar-track, .user_dashboard_popup_table_container::-webkit-scrollbar-track{
    background: #f1f1f1; 
}

.user_dashboard_booking_details_card::-webkit-scrollbar-thumb, .user_dashboard_popup_table_container::-webkit-scrollbar-thumb {
    background: #888; 
  }

  .user_dashboard_booking_details_card::-webkit-scrollbar-thumb:hover , .user_dashboard_popup_table_container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.user_dashboard_booking_details_table {
  width: 100%;
  text-align: center;
}

.user_dashboard_booking_details_table_heading th {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  padding-top: 3%;
  padding-bottom: 2%;
  position: sticky;
  background-color: #F0F8FF;
  z-index: 2;
  top: 0;
}

.user_dashboard_booking_details_table_data td{
    font-weight: 500;
    font-size: 12px;
    padding: 2% 0%;
    border-bottom: .8px solid #E0E0E0 ;
    text-transform: capitalize;
}

.user_dashboard_payment_text_pending {
  color: #fe9923;
}

.user_dashboard_payment_text_completed {
  color: #258e00;
}

.user_dashboard_active_green {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #33a86d;
  border-radius: 50%;
  display: inline-block;
  
}

.user_dashboard_active_red {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #ea234f;
  border-radius: 50%;
  display: inline-block;

}

.user_dashboard_right_container {
  padding-left: 3%;
}

.user_dashboard_balance_card {
  padding: 6% 5% 6% 5%;
  background: #ffffff;
  box-shadow: 0px 3.60512px 34.2486px rgba(150, 150, 150, 0.15);
  width: 70%;
  border-radius: 15.32px;
  margin: 10% 0 5% 0;
}

.user_dashboard_balance_card_text {
  color: #888888;
  font-weight: 600;
  font-size: 18px;
}

.user_dashboard_balance_card_amount {
  font-weight: 600;
  font-size: 42px;
}

.user_dashboard_transaction_card {
  background: #ffffff;
  box-shadow: 0px 3.16522px 31.6522px rgba(166, 166, 166, 0.15);
  border-radius: 12.66px;
  width: 80%;
  padding: 5% 8% 5% 8%;
}

.user_dashboard_transaction_card_title {
  color: #888888;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 4%;
}

.user_dashboard_transaction_card_transaction_id {
  color: #b8b8b8;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.user_dashboard_transaction_card_transaction_id span {
  color: #03b7df;
}

.user_dashboard_transaction_card_datetime_text {
  display: flex;
  justify-content: space-between;
  padding: 1% 17% 1% 7%;
  font-size: 10px;
}

.user_dashboard_transaction_card_date_text,
.user_dashboard_transaction_card_time_text {
  color: #b8b8b8;
  font-weight: 500;
}

.user_dashboard_transaction_card_datetime {
  display: flex;
  justify-content: space-between;
  padding: 2% 13% 5% 7%;
  font-size: 12px;
}

.user_dashboard_transaction_card_date,
.user_dashboard_transaction_card_time {
  font-weight: 500;
}

.user_dashboard_transaction_card_amount_section {
  background: #fafafa;
  padding: 2% 0 2% 5%;
  width: 80%;
  margin: auto;
}

.user_dashboard_transaction_card_amount_text {
  color: #888888;
  font-weight: 600;
  font-size: 16px;
}

.user_dashboard_transaction_card_amount_number {
  color: #03b7df;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.user_dashboard_transaction_card_seemore {
  color: #b8b8b8;
  font-size: 10px;
  text-decoration-line: underline;
  cursor: pointer;
}

.user_dashboard_pay {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #63e9f7;
  border-radius: 5.29px;
  display: inline-block;
  padding: 2% 7%;
}

.user_dashboard_pay_container {
  padding-left: 50%;
  width: 100%;
  margin-top: -30px;
  cursor: pointer;
}

.user_dashboard_popup_section {
  position: absolute;
  height: 80vh;
  width: 60vw;
  left: 17%;
  top: 15%;
  background: #fff;
  margin: auto;
  z-index: 3;
}

.user_dashboard_popup_leftside {
  background: #08b6db;
}

.user_dashboard_handshake_image {
  position: relative;
  top: 18vh;
}

.user_dashboard_popup_leftside_text {
  color: #fff;
  font-size: 30.31px;
  font-weight: 600;
  position: relative;
  top: 18vh;
}

.user_dashboard_leftside_text span {
  font-weight: 300;
}

.user_dashboard_popup_history_container {
  padding: 3% 3% 12% 4%;
}

.user_dashboard_popup_table_container{
  height: 35vh;
  overflow: hidden;
  overflow-y: scroll;
}

.user_dashboard_popup_table{
  width:100%;
  text-align: center;
  position: relative;
  right: 4%
}

.user_dashboard_popup_table_header th{
  color: #b8b8b8;
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 2%;
  background-color: #fff;
  position: sticky;
  z-index: 2;
  top: 0;
}

.user_dashboard_popup_table_content td{
  color: #030303;
  font-weight: 500;
  font-size: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  text-transform: capitalize;
}

.user_dashboard_popup_transaction_history_flex {
  display: flex;
  justify-content: space-between;
}

.user_dashboard_popup_transaction_history {
  color: #646262;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  background-color: aliceblue;
  padding: 10px;
}

.user_dashboard-popup_close {
  display: inline-block;
  cursor: pointer;
}

.user_dashboard_popup_status_pending{
  color: #fe9923;
}

.user_dashboard_popup_status_successful{
  color: #258e00;

}



