@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand:wght@300&display=swap");

* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 70px;
  height: 100vh !important;
  top: 0;
  left: 0;
  /* padding: 6px 14px; */
  background-color: rgb(255, 255, 255);
  transition: width 0.3s;
  transition-timing-function: ease;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-width: 0px;
  border-color: #4888ff;
  border-radius: 0px 16px 16px 0px;

  padding: 6px 10px;

}
.sidebar.close {
  width: 195px;
  transition: width 0.3s;
  transition-timing-function: ease;
  border-radius: 16px;

}

.sidebar .logo_cnt {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
}

.sidebar.close .logo_cnt {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease;
}

.sidebar .logo_cnt .logo {
  display: flex;
  width: 100%;
  height: 50px;
  color: rgb(79, 135, 255);
  align-items: center;
  opacity: 1;
  position: relative;
  left: 25px;
  top: 1px;
}

.sidebar.close .logo_cnt .logo {
  opacity: 1;
}

.logo_cnt .logo i {
  font-size: 32px;
  /* margin-right: 10px; */
}

.logo_cnt .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar .btn {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 22px;
  margin-left: 40px;
  bottom: 2px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar .link_name {
  opacity: 0;
}
.sidebar.close .link_name {
  opacity: 1;

}

.sidebar ul {
  margin-top: 120px;
}

.sidebar ul li {
  height: 70px;
  position: relative;
  width: 100%;
  margin: 0 5px;
}

.sidebar ul li a {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;

}

.sidebar ul li a:hover {
  color: rgb(50, 180, 255);
  background-color: rgb(226, 226, 226);
}

.sl {
    color: rgb(43, 177, 255)!important;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 26px 3px rgba(178,213,255,0.53);
    -moz-box-shadow: 0px 0px 26px 3px rgba(178,213,255,0.53);
    box-shadow: 0px 0px 26px 3px rgba(178,213,255,0.53);
  /* border: 0.5px solid rgba(56, 159, 255, 0.829); */
    
  }

.sidebar ul li a i {
  height: 50px;
  line-height: 50px;
  min-width: 50px;
  border-radius: 12px;
  text-align: center;

}

.sidebar ul li input {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  outline: none;
  border-radius: 12px;
  border: none;
  background-color: rgb(156, 194, 238);
  color: #fff;
  padding-left: 50px;
}

.sidebar ul li .search {
  position: absolute;
  z-index: 90;
  margin-top: 50px;
  color: #fff;
  font-size: 19px;
}

.sidebar .profile_cnt {
  position: relative;
  top: 220px;
  color: #fff;
  left: 0px;
  margin-bottom: 280px;
}
.sidebar .profile_cnt .hide {
  display: none;
}

.sidebar .profile_cnt .profile {
  padding: 10px 6px;
  height: 60px;
  border-radius: 12px;
  background-color: rgb(31, 30, 30);
}

.profile_cnt .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
}
.sidebar.close .profile .profile_details {
  opacity: 1;
  display: flex;
  align-items: center;
  margin-bottom: 292px;
}

.profile .profile_details .pfl {
  height: 45px;
  width: 45px;
  border-radius: 12px;
  object-fit: cover;
  position: absolute;
  bottom: 7px;
}

.profile .profile_details .profile_name {
  margin-right: 50px;
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .name_job {
  margin-left: 60px;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile .logout.change {
  top: 5px;
  left: 98%;
  position: absolute;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 24px;
}
.profile .logout {
  position: relative;
  bottom: 4px;
  position: absolute;
  right: 30%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  transform: rotate(180deg);
}

.sidebar .nav_list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .nav_list {
  padding: 0;
}

/* tooltip */
.sidebar ul li .tooltips {
  top: 0%;
  left: 270px;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 122px;
  line-height: 35px;
  background-color: #fff;
  transition: 0s;
  opacity: 1;
  text-align: center;
  display: none;
  margin-left:100px ;

}
/* 
.sidebar ul li:hover .tooltips {
  top: 50%;
  display: block;
} */

.sidebar.close ul li .tooltips {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
body {
  overflow: hidden;
}
.sidebar .chevron_down {
  display: none;
}
.sidebar.close .chevron_down {
  left: 65px;
  transform: translateY(-50%) rotate(-180deg);
  position: relative;
  top: 31px;
  font-size: 20px;
  display: block;
}
.sidebar.close .down {
  transform: translateY(-50%);
  position: relative;
  top: 25px;
}

.menulist {
  display: none;
  background-color: #262626;
  position: relative;
  bottom: 10px;
}

.menuopen {
  display: block;
  width: 214px;
  height: 130px;
}
.sub {
  position: relative;
  top: 15px;
  left: 40px;
  line-height: 30px;
  color: #818181;
}
.sub:hover {
  color: #f1f1f1;
}
.menulist_1 {
  display: none;
  background-color: #262626;
  position: relative;
  bottom: 10px;
}

.menuopen_1 {
  display: block;
  width: 214px;
  height: 130px;
}
.sub_1 {
  position: relative;
  top: 15px;
  left: 40px;
  line-height: 30px;
  color: #818181;
}
.sub_1:hover {
  color: #f1f1f1;
}

.sidebar.close .down_1 {
  transform: translateY(-50%);
  position: relative;
  top: 25px;
}

@media only screen and (max-width: 1701px) {
  .sidebar .profile_cnt {
    position: relative;
    top: 220px;
    color: #fff;
    left: 0px;
  }
}
@media only screen and (max-width: 1224px) {
  .sidebar {
    width: 0px;
    height: 100vh !important;
    top: 0;
    left: 0;
    padding: 6px 14px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
    transition-timing-function: ease;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sidebar.close {
    padding: 6px 14px;
  }
}

@media only screen and (max-width: 540px) {
  .sidebar.close {
    position: absolute;
    z-index: 1000;
  }
  .sidebar {
    position: absolute;
  }
}
