.booking_container {
  padding-top: 12vh;
}

.booking_reserved_progress {
  height: 0.7rem;
  border-radius: 5.36px;
  width: 80%;
}

.booking_unreserved_progress {
  height: 0.7rem;
  border-radius: 5.36px;
  width: 80%;
}

.booking_reserved_text,
.booking_unreserved_text {
  color: #838383;
  font-weight: 500;
  font-size: 11.18px;
  margin-bottom: 2%;
}

.booking_reserved_percentage_text {
  color: #ff6767;
  font-weight: 500;
  font-size: 10.24px;
  margin-bottom: 1%;
}

.booking_unreserved_percentage_text {
  color: #2ab0ff;
  font-weight: 500;
  font-size: 10.24px;
  margin-bottom: 1%;
}

.booking_form_title {
  color: #494949;
  font-weight: 500;
  font-size: 18.73px;
  letter-spacing: 0.23px;
  margin: 8% 0 4% 0;
}

.booking_form_name_input,
.booking_form_email_input,
.booking_form_date_input,
.booking_form_ptype_input,
.booking_form_pid_input {
  display: flex;
  align-items: center;
  padding-right: 20%;
  margin-bottom: 4%;
}

.booking_form_name_input label,
.booking_form_email_input label,
.booking_form_date_input label,
.booking_form_ptype_input label,
.booking_form_pid_input label,
.booking_form_plan_input_text {
  color: #777777;
  font-size: 14px;
  letter-spacing: 0.23px;
}

.booking_form_name_input input,
.booking_form_email_input input,
.booking_form_date_input input,
.booking_form_ptype_input input,
.booking_form_pid_input input {
  width: 100%;
  border-width: 0 0 0.44px 0;
  border-style: solid;
  border-color: #828282;
}

.booking_form_plan_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20%;
  margin-top: 6%;
}

.booking_form_plan_input_buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.booking_form_input_button_weekly,
.booking_form_input_button_monthly,
.booking_form_input_button_quarterly,
.booking_form_input_button_yearly {
  font-style: bold;
  font-size: 0.6rem;
  padding: 1.6% 4%;
  border-radius: 2.84px;
  font-weight: 900;
}

.booking_form_input_button_weekly:hover {
  color: #fff;
  background-color: #0cb0e2;
  cursor: pointer;
}

.booking_form_input_button_weekly_selected {
    color: #fff;
    background-color: #0cb0e2;
    border: solid 1px #0cb0e2;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.6% 4%;
    border-radius: 2.84px;
    cursor:pointer;

  }

.booking_form_input_button_weekly {
  color: #0cb0e2;
  border: solid 1px #0cb0e2;
  background-color: #fff;
  cursor: pointer;
}

.booking_form_input_button_monthly:hover {
  color: #fff;
  background-color: #fadf14;
  cursor: pointer;
}

.booking_form_input_button_monthly_selected {
    color: #fff;
    background-color: #ffe632;
    border: solid 1px #ffe632;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.6% 4%;
    border-radius: 2.84px;
    cursor: pointer;

  }

.booking_form_input_button_monthly {
  color: #ffe632;
  border: solid 1px #ffe632;
  background-color: #fff;
  cursor: pointer;
}

.booking_form_input_button_quarterly:hover {
  color: #fff;
  background-color: #36a900;
  cursor: pointer;
}

.booking_form_input_button_quarterly_selected {
    color: #fff;
    background-color: #36a900;
    border: solid 1px #36a900;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.6% 4%;
    border-radius: 2.84px;
    cursor: pointer;
  }

.booking_form_input_button_quarterly {
  color: #36a900;
  border: solid 1px #36a900;
  background-color: #fff;
  cursor: pointer;
}

.booking_form_input_button_yearly:hover {
  color: #fff;
  background-color: #ff6767;
  cursor: pointer;
}

.booking_form_input_button_yearly_selected {
    color: #fff;
    background-color: #ff6767;
    border: solid 1px #ff6767;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.6% 4%;
    border-radius: 2.84px;
    cursor: pointer;

  }

.booking_form_input_button_yearly {
  color: #ff6767;
  border: solid 1px #ff6767;
  background-color: #fff;
  cursor: pointer;
}

.booking_form_submit_clear {
  display: flex;
  justify-content: end;
  padding-right: 20%;
}

.booking_form_submit {
  color: #fff;
  font-weight: bold;
  font-size: 0.6rem;
  background-color: #2aa8ce;
  padding: 1.3% 4.2%;
  border-radius: 3.4px;
  margin-top: 10%;
  margin-right: 1%;
  cursor: pointer;
}

.booking_form_clear {
  color: #6d6d6d;
  font-weight: bold;
  font-size: 0.6rem;
  background-color: #f9f9f9;
  border: 1px solid #dbdbdb;
  padding: 1.3% 4.2%;
  border-radius: 3.4px;
  margin-top: 10%;
  margin-right: 1%;
  cursor: pointer;
}



.booking_colorcodes{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .booking_undercons:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: red;
  }
  .booking_lessweek:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: black;
  }
  .booking_moreweek:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: blue;
  }
  .booking_undercons,.booking_lessweek,.booking_moreweek{
    font-size: 14px;
    color: #777777;
  }
  
  