
.homeinputblock{
    position:relative;
}
 .homeinput{
    background: #ffffff;
    border: 1px solid #bdbdbd;
    padding: 12px 16px;
    border-radius: 4px;
}
 .full {
  width: 80%;
}
 .label_cons{
        padding:16px 0px 0px 0px;
        pointer-events: none;
        position:absolute;
        left:5%;
        top:0;
        transition: 0.2s;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #696969;
}

.homeinput.error+.label_cons{
    color: #ff0606;
}
 .homeinput:focus + .label_cons, .homeinput:not(:placeholder-shown) + .label_cons {
    opacity:1;
    padding: 2px;
    background: #fff;
    transform: scale(1) translateY(-50%) translateX(1px);
    color: #277aff;
}

.label_cons_1{
    padding:16px 0px 0px 0px;
    pointer-events: none;
    position:absolute;
    left:5%;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    opacity:1;
    padding: 2px;
    background: #fff;
    transform: scale(1) translateY(-50%) translateX(1px);
    color: #277aff;
}


.homeinput:focus{
    outline: none;
    background: #ffffff;
    border: 1px solid #277aff;
    box-shadow: 0px 4px 4px rgba(102, 186, 19, 0.07);
    border-radius: 4px;
}

.homeinput.valid{
    outline: none;
    background: #ffffff;
    border: 1px solid #05bf2a;
    box-shadow: 0px 4px 4px rgba(102, 186, 19, 0.07);
    border-radius: 4px;
}

.homeinput.error{
    outline: none;
    background: #ffffff;
    border: 1px solid #ff0606;
    box-shadow: 0px 4px 4px rgba(102, 186, 19, 0.07);
    border-radius: 4px;
}

.homeinput.error:focus + .label_cons, .homeinput.error:not(:placeholder-shown) + .label_cons {
    opacity:1;
    padding: 2px;
    background: #fff;
    transform: scale(1) translateY(-50%) translateX(1px);
    color: #ff0606;
}


.homeinput.valid:focus + .label_cons, .homeinput.valid:not(:placeholder-shown) + .label_cons {
    opacity:1;
    padding: 2px;
    background: #fff;
    transform: scale(1) translateY(-50%) translateX(1px);
    color: #05bf2a;
}













.booking_container {
  padding-top: 8vh;
}

.booking_reserved_progress {
  height: 0.7rem;
  border-radius: 5.36px;
  width: 80%;
}

.booking_unreserved_progress {
  height: 0.7rem;
  border-radius: 5.36px;
  width: 80%;
}

.booking_reserved_text,
.booking_unreserved_text {
  color: #838383;
  font-weight: 500;
  font-size: 11.18px;
  margin-bottom: 2%;
}

.booking_reserved_percentage_text {
  color: #ff6767;
  font-weight: 500;
  font-size: 10.24px;
  margin-bottom: 1%;
}

.booking_unreserved_percentage_text {
  color: #2ab0ff;
  font-weight: 500;
  font-size: 10.24px;
  margin-bottom: 1%;
}

.booking_form_title {
  color: #494949;
  font-weight: 500;
  font-size: 18.73px;
  letter-spacing: 0.23px;
  margin: 5% 0 1% 0;
}

.booking_form_name_input,
.booking_form_email_input,
.booking_form_date_input,
.booking_form_ptype_input,
.booking_form_pid_input {
  display: flex;
  align-items: center;
  padding-right: 10%;
  margin-bottom: 4%;
}

.booking_form_name_input label,
.booking_form_email_input label,
.booking_form_date_input label,
.booking_form_ptype_input label,
.booking_form_pid_input label,
.booking_form_plan_input_text {
  color: #777777;
  font-size: 14px;
  letter-spacing: 0.23px;
}

.booking_form_name_input input,
.booking_form_email_input input,
.booking_form_date_input input,
.booking_form_ptype_input input,
.booking_form_pid_input input {
  width: 100%;
  border-width: 0 0 0.44px 0;
  border-style: solid;
  border-color: #828282;
}

.booking_form_plan_input {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.booking_form_plan_input_buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.booking_form_plan_input_buttons1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

.booking_form_input_button_weekly,
.booking_form_input_button_monthly,
.booking_form_input_button_quarterly,
.booking_form_input_button_yearly,
.booking_form_input_button_daily {
  font-style: bold;
  font-size: 0.6rem;
  padding: 1.2% 3.5%;
  border-radius: 2.84px;
  font-weight: 900;
  margin-right: 4px;
}
.booking_form_input_button_daily:hover {
    color: rgb(255, 255, 255);
    background-color: #1b1b1b;
    border: solid 1px #000000;
  }
  
  .booking_form_input_button_daily_selected {
      color: rgb(255, 255, 255);
      background-color: #1b1b1b;
      border: solid 1px #000000;
      font-style: bold;
      font-size: 0.6rem;
      padding: 1.2% 3.5%;
      border-radius: 2.84px;
      cursor:pointer;
      font-weight: 900;
      margin-right: 4px;
  
    }
  
  .booking_form_input_button_daily {
    color: #272727;
    border: solid 1px #000000;
    background-color: #fff;
    cursor: pointer;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.2% 3.5%;
    border-radius: 2.84px;
    cursor:pointer;
    font-weight: 900;
  }

  
  
.booking_form_input_button_weekly:hover {
  color: #fff;
  background-color: #0cb0e2;
  cursor: pointer;
}

.booking_form_input_button_weekly_selected {
    color: #fff;
    background-color: #0cb0e2;
    border: solid 1px #0cb0e2;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.2% 3.5%;
    border-radius: 2.84px;
    cursor:pointer;
    font-weight: 900;
    margin-right: 4px;

  }

.booking_form_input_button_weekly {
  color: #0cb0e2;
  border: solid 1px #0cb0e2;
  background-color: #fff;
  cursor: pointer;
  font-style: bold;
  font-size: 0.6rem;
  padding: 1.2% 3.5%;
  border-radius: 2.84px;
  cursor:pointer;
  font-weight: 900;
}

.booking_form_input_button_monthly:hover {
  color: #fff;
  background-color: #d6c529;
  cursor: pointer;
}

.booking_form_input_button_monthly_selected {
    color: #fff;
    background-color: #afa01c;
    border: solid 1px #afa01c;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.2% 3.5%;
    border-radius: 2.84px;
    cursor: pointer;
    font-weight: 900;
    margin-right: 4px;



  }

.booking_form_input_button_monthly {
  color: #afa01c;
  border: solid 1px #afa01c;
  background-color: #fff;
  cursor: pointer;
  font-style: bold;
    font-size: 0.6rem;
    padding: 1.2% 3.5%;
    border-radius: 2.84px;
    cursor: pointer;
    font-weight: 900;
}

.booking_form_input_button_quarterly:hover {
  color: #fff;
  background-color: #36a900;
  cursor: pointer;
}

.booking_form_input_button_quarterly_selected {
    color: #fff;
    background-color: #36a900;
    border: solid 1px #36a900;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.2% 3.5%;
    border-radius: 2.84px;
    cursor: pointer;
    font-weight: 900;
    margin-right: 4px;


  }

.booking_form_input_button_quarterly {
  color: #36a900;
  border: solid 1px #36a900;
  background-color: #fff;
  cursor: pointer;
  font-style: bold;
  font-size: 0.6rem;
  padding: 1.2% 3.5%;
  border-radius: 2.84px;
  cursor: pointer;
  font-weight: 900;
}

.booking_form_input_button_yearly:hover {
  color: #fff;
  background-color: #ff6767;
  cursor: pointer;
}

.booking_form_input_button_yearly_selected {
    color: #fff;
    background-color: #ff6767;
    border: solid 1px #ff6767;
    font-style: bold;
    font-size: 0.6rem;
    padding: 1.2% 3.5%;
    border-radius: 2.84px;
    cursor: pointer;
    font-weight: 900;
    margin-right: 4px;



  }

.booking_form_input_button_yearly {
  color: #ff6767;
  border: solid 1px #ff6767;
  background-color: #fff;
  cursor: pointer;
  font-style: bold;
  font-size: 0.6rem;
  padding: 1.2% 3.5%;
  border-radius: 2.84px;
  cursor: pointer;
  font-weight: 900;


}

.booking_form_submit_clear {
  display: flex;
  justify-content: end;
  padding-right: 20%;
}

.booking_form_submit {
  color: #fff;
  font-weight: bold;
  font-size: 0.6rem;
  background-color: #2aa8ce;
  padding: 6px 10px;
  border-radius: 3.4px;
  margin-top: 12%;
  margin-right: 1%;
  cursor: pointer;
  
}

.booking_form_clear {
  color: #6d6d6d;
  font-weight: bold;
  font-size: 0.6rem;
  background-color: #f9f9f9;
  border: 1px solid #dbdbdb;
  padding: 6px 10px;
  border-radius: 3.4px;
  margin-top: 12%;
  margin-right: 1%;
  cursor: pointer;
}



.booking_colorcodes{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .booking_undercons:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: black;
    border-radius: 50%;
    margin-bottom: 1px;

  }
  .booking_lessweek:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: red;
    border-radius: 50%;
    margin-bottom: 0.5px;


  }
  .booking_moreweek:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background: blue;
    border-radius: 50%;
    margin-bottom: 1px;

  }
  .booking_undercons,.booking_lessweek,.booking_moreweek{
    font-size: 14px;
    color: #777777;
  }
  
  .danger {
    border-style: solid;
      border-width: 1px;
      border-color: red;
      border-radius: 4px;
box-shadow: 0px 0px 20px 2px rgba(255,0,0,0.07);
-webkit-box-shadow: 0px 0px 20px 2px rgba(255,0,0,0.07);
-moz-box-shadow: 0px 0px 20px 2px rgba(255,0,0,0.07);
}