.payment_container {
  padding: 4.5% 0% 0% 0.2%;
}

.payment_entry_fields {
  display: flex;
  justify-content: space-between;
}

.payment_label_container {
  position: relative;
  display: inline-block;
}

.plabel {
  position: absolute;
  bottom: 100%;
  color: #838383;
  font-weight: 500;
  font-size: 11.6px;
  line-height: 14px;
}

.payment_text_booking_report {
 background: rgb(72,180,227);
  background: linear-gradient(351deg, rgba(72,180,227,1) 0%, rgba(61,163,208,1) 50%, rgba(31,138,185,1) 81%);  
  color: #fff;
  font-weight: 500;
  font-size: 12.9px;
  line-height: 16px;
  letter-spacing: 0.18px;
  padding: 0.5% 0 0.5% 1%;
}

.payment_enty_container {
  background-color: #ffffff;
  margin-top: 0.5%;
  padding: 2% 1% 1% 1%;
}

.payment_name,
.payment_email,
.payment_ptype,
.payment_pid,
.payment_date,
.payment_amount
 {
  margin: 2.5% 1px;
  border: 0.6px solid #aaaaaa;
  border-radius: 4px;
}

#payment_ptype{
  cursor: pointer;
}

.payment_submit_reset_container {
  display: flex;
  margin-bottom: 1%;
}

.payment_submit_button,
.payment_reset_button,
.payment_danger_button {
  font-weight: 500;
  font-size: 7.88px;
  line-height: 10px;
  border-radius: 2.98px;
  padding: 0.5% 1%;
  margin-top: 1%;
}

.payment_submit_button {
  color: #fff;
  background-color: #258e00;
  margin-right: 10px;
  cursor: pointer;
}

.payment_danger_button {
    color: #fff;
    background-color: #d63737;
    margin-right: 10px;
    cursor: pointer;
  }

.payment_reset_button {
  color: #000000;
  background-color: #e8e8e8;
  cursor: pointer;
}



.payment_table_container {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.payment_table_container1 {
    max-height: 77vh;
    overflow: hidden;
    overflow-y: scroll;
}


.payment_table_container::-webkit-scrollbar{
    width: 2px;
}

.payment_table_container::-webkit-scrollbar-track{
    background: #f1f1f1; 
}

.payment_table_container::-webkit-scrollbar-thumb {
    background: #888; 
  }

  .payment_table_container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.payment_table {
  width:99.5%;
  text-align: center;
}

.payment_table_heading th {
  color: #fff;
 background: rgb(72,180,227);
  background: linear-gradient(351deg, rgba(72,180,227,1) 0%, rgba(61,163,208,1) 50%, rgba(31,138,185,1) 81%);  
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  padding:6px;
  position: sticky;
  top: 0;
}

.payment_table_content td {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  padding:8px;
  text-transform: capitalize;
}

.payment_table tr:nth-child(odd) td {
  background-color: #eef9fc;
}

.payment_table_button_book {
  color: #fff;
  font-weight: 700;
  font-size: .6rem;
  line-height: 8px;
  padding:4% 8%;
  background-color: #3fc513;
  border-radius: 2.27px;
  cursor: pointer;
}

.payment_table_controls_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
